---


const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"/>
		<!-- <BaseHead {title} {description} {permalink} /> -->
		<!-- TODO: place site header here -->
	</head>

	<body>
		<!-- TODO: place header of post here -->
		<!-- <BlogHeader /> -->
		<div class="wrapper">
			<!-- TODO: place post here -->
			<!-- <BlogPost {title} {author} {heroImage} {publishDate} {alt}>
				<slot />
			</BlogPost> -->
		</div>
	</body>
</html>
